* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display:table;
	clear:both;
}

#main_nav {
	width:100%;
}

#selectors {
	width:80%;
	padding:10px;
/*	border:1px solid black;*/
	right:0%;
	top:0;
	left:0;
	position:fixed;
	margin:0 auto;
}

#flowers {
	margin-right: 50px;
	float:left;
}

#nav_itself {
	float:right;
	text-align:center;
	line-height: 50px;
	margin-left: 10px;
}

#big_pic {
	width:100%;
	height:500px;
	border:1px solid red;
}