* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.clearfix {
	content:"";
	display:table;
	clear:both;
}

.border_test {
	border:1px solid white;
}

.main_header {
	width:100%;
	text-align:center;
	background-color: red;
	font-family: 'Courgette', cursive;
	padding:20px;
}

nav {
	background-color:black;
	padding:5px;
	float:left;
	width:100%;
	display:table;
}


figure .dishes {
	width:700px;
	height:700px;
	display:table;
	margin:0 auto;
	margin-top:30px;
}

figure .hook {
	width:70%;
	margin:0 auto;
	margin-top:1px;
	display:table;

}

.division {
	color:white;
	float: left;
	margin: 0 20px;
}

.buttons {
	border:1px solid white;
	padding:10px;
	margin:0 auto;
}

footer {
	width:100%;
	padding: 20px;
	background-color:grey;
}

.plates {
	float:left;
	color:white;
	margin: 0 30px;
}

.sum_text {
	width:70%;
	display:table;
	margin:20px auto;
	border:1px solid grey;
	padding:5px;
/*	border-radius:5px;*/
	background-color:rgba(51,51,51,0.9);
	color:white;
}

.main_page {
	background-image:url("../images/table.jpeg");
	/*position:fixed;*/
	height:100%;
}

a:hover {
	background-color:red;
}